<div class="btn-group" role="group" id="right_actions_<%= server.id %>">
  <button class="btn btn-neutral btn-icon" data-controller="clipboard" data-action="click->clipboard#copy">
    <%= hidden_field_tag(
      "",
      server.port && server.connect_command,
      data: { clipboard_target: "command" },
      style: "display: none",
    ) %>
    <span class="btn-inner--icon"><%= fa_icon 'copy', data: { 'clipboard-target': 'icon' } %></span>
    <span class="btn-inner--text d-none d-md-inline-block">Connect command</span>
  </button>
  <%= render "servers/start_stop_button", server: server, button_style: "btn-icon", additional_button_text_classes: "d-none d-md-inline-block" %>
</div>
