<div class="avatar rounded-circle avatar-lg" style="width: 120px; height: 120px;">
  <% if server.picture.variable? %>
    <%= image_tag(server.picture.variant(:big), style: "height: 100%;") %>
  <% elsif server.picture.attached? %>
    <%= image_tag(server.picture, style: "height: 100%;") %>
  <% end %>
</div>
